.btn-primary {
  background-color: $primary;
  border-color: $primary;
  color: white;
  border-radius: 3px;
  padding: .5rem 50px;
  text-align: center;
  margin: 0 auto;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;

  &:hover,
  &:active {
    background-color: darken($primary, 5%) !important;
    border-color: darken($primary, 5%) !important;
    color: white;
  }
}

.btn-secondary {
  background-color: $secondary;
  border-color: $secondary;
  color: white;
  border-radius: 3px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-transform: capitalize;

  &:hover,
  &:active {
    background-color: darken($secondary, 5%) !important;
    border-color: darken($secondary, 5%) !important;
    color: white;
  }
}
