form .form-control {
  max-width: 500px;
  border: 2px solid black;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: black;
  border-radius: 0;
  text-align: center;
  display: block;
  margin: 0 auto;
}